target
.idea/*
*.class
*.iml
**/bower_components
**/node_modules
**/webapp/assets/dist
**/gulp.status
nohup.out

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.settings
.classpath
.project